input,
label {
  display: block;
  flex-wrap: wrap;
}
label {
  top: 0;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.75px;
}
input {
  font-size: 1em;
  box-sizing: border-box;
  width: 90%;
}
button.btn.btn-secondary,
#inputModal > div > div > div.modal-footer > button.btn.btn-primary {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  height: auto;
  border: 1px solid darkgray;
  box-shadow: 2px 2px 2px 2px rbga(0, 0, 0, 0.35);
  min-width: 25vw;
}
th {
  font-size: 1.11em;
}
tr:hover {
  background-color: #42a9f3ea;
  transform: scale(1.015);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2);
}
.deleteBtn {
  border: none;
  background: transparent;
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
}
.deleteBtn:hover {
  border: none;
  background: transparent;
  color: tomato;
  font-weight: bolder;
  text-transform: uppercase;
}
