body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(55, 72, 126);
  padding-inline: 21%;
  margin-inline: auto;
}
h1,
h2 {
  color: rgb(8, 8, 209);
  text-align: center;
}
h1 {
  font-size: 2.4em;
}
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
legend {
  font-size: 1.25rem;
  margin-bottom: 0.35em;
}
fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px solid rgb(0, 10, 66);
  border-radius: 4px;
}
input,
label {
  display: block;
  flex-wrap: wrap;
}
label {
  top: 0;
  font-size: 0.9em;
}
input {
  font-size: 0.9em;
  box-sizing: border-box;
  width: 94%;
}
.submit {
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  margin-top: 1.25em;
}
.container {
  margin-block: 5px;
}
table {
  border-collapse: collapse;
  width: 200px;
  height: auto;
  border: 1px solid darkgray;
  box-shadow: 2px 2px 2px 2px rbga(0, 0, 0, 0.35);
  min-width: 56%;
  width: auto;
  margin-inline: auto;
}
th {
  font-size: 1.05rem;
}
tr {
  font-weight: normal;
  font-size: 0.9rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
td {
  font-size: 0.92em;
  max-width: 16ch;
  padding-inline: 2px;

  text-overflow: auto;
  white-space: wrap;
  overflow: auto;
  overflow-wrap: break-word;
  word-break: normal;
}
#dateTemp {
  font-size: 0.85em;
  width: 8ch;
}
#amountTemp::before {
  content: '$';
}
th {
  padding: 0.25rem;
  text-align: center;
  border-bottom: 2px solid rgb(160, 160, 160);
}
tr:hover {
  background-color: #cce6f8ea;
  transform: scale(1.025);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #7cb9e4ea;
  transform: scale(1.025);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
img {
  height: 32px;
  width: 32px;
}
.delete {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
}
