@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Montserrat:wght@500&family=Playfair+Display+SC:wght@400;700;900&family=Varela+Round&display=swap');

:root {
  --theme-blue: ##6292e7;
  --theme-green: #0af7a6;
  --theme-lightblue: #bbcbe7;
  --theme-bluegrey: #e1e5f2;
  --theme-lightgreen: #b1e3d2;
  --theme-offwhite: #ffffff;

  --theme-font-crete: 'Crete Round', serif;
  --theme-font-playfair: 'Playfair Display SC', serif;
  --theme-font-varela: 'Varela Round', sans-serif;
  --theme-font-montserrat: 'Montserrat', sans-serif;
}
